@model IEnumerable<Nihongo.Models.MS_VocaSetsModels>
@{
    ViewBag.Title = "Trải nghiệm thư viện từ vựng tiếng Nhật bằng Flashcard";
}

<input type="hidden" id="c" value='@CommonMethod.EncodeUrl("LoadCate")' />
<input type="hidden" id="s" value='@CommonMethod.EncodeUrl("LoadSet")' />
<input type="hidden" id="ls" value='@CommonMethod.EncodeUrl("SelectVocaSetsData")' />
<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>
                    THƯ VIỆN</h1>
            </div>
        </div>
    </div>
</header>
<!-- container -->
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <section id="portfolio" class="page-section section appear clearfix">
                <br />
                <br />
                <p>
                    Thư viện từ vựng Tiếng Nhật là nơi lưu trữ đầy đủ các bộ từ vựng Tiếng Nhật nhất
                    hiện nay, là nơi để bạn học từ vựng đúng phương pháp, là nơi để bạn trải nghiệm
                    và nâng tầm kiến thức từ vựng Tiếng Nhật.
                    <br />
                    <br />
                </p>

                <div class="row">
                    <nav class="col-md-12 text-center filter">
                        <ul>
                            <li>@Ajax.EncodedActionLink("Tất cả", "SelectVocaSetsData", "Library", null, new AjaxOptions
                                {
                                    HttpMethod = "get",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "divVocaSet",
                                }, new { @class = "current btn-theme btn-small" })
                            </li>
                            <li>@Ajax.EncodedActionLink("Thông dụng nhất", "SelectMostPopularVocaSetsData", "Library", null, new AjaxOptions
                                {
                                    HttpMethod = "get",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "divVocaSet",
                                }, new { @class = "btn-theme btn-small" })
                            </li>
                           @* <li>@Ajax.EncodedActionLink("Các bộ miễn phí", "SelectFreeVocaSetsData", "Library", null, new AjaxOptions
                                {
                                    HttpMethod = "get",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "divVocaSet",
                                }, new { @class = "btn-theme btn-small" })
                            </li>*@
                            <li>@Ajax.EncodedActionLink("Các bộ Kanji", "SelectKanjiVocaSetsData", "Library", null, new AjaxOptions
                                {
                                    HttpMethod = "get",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "divVocaSet",
                                }, new { @class = "btn-theme btn-small" })
                            </li>
                            @*<li><<a href="#" class="current btn-theme btn-small" >Tất cả</a></li>*@
                            @*<li><a href="#" class="btn-theme btn-small" data-filter=".webdesign">Bộ Minnani Nihongo</a></li>
                            <li><a href="#" class="btn-theme btn-small" data-filter=".photography">Từ vựng theo
                                chủ đề</a></li>
                            <li><a href="#" class="btn-theme btn-small" data-filter=".print">Kanji</a></li>*@
                        </ul>
                    </nav>
                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="portfolio-items isotopeWrapper clearfix" id="3">
                                @*<article class="col-sm-4 isotopeItem webdesign">
                                    <div class="portfolio-item">
											<img src="~/Content/assets/images/portfolio/img1.jpg" alt="" />
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<a href="~/Content/assets/images/portfolio/img1.jpg" class="fancybox">
														<h5>Project Title</h5>
														<i class="fa fa-link fa-2x"></i></a>
												</div>
											</div>
										</div>
                                </article>
                                <article class="col-sm-4 isotopeItem photography">
                                    <div class="portfolio-item">
											<img src="~/Content/assets/images/portfolio/img2.jpg" alt="" />
											<div class="portfolio-desc align-center">
												<div class="folio-info">
													<a href="~/Content/assets/images/portfolio/img2.jpg" class="fancybox">
														<h5>Project Title</h5>
														<i class="fa fa-link fa-2x"></i></a>
												</div>
											</div>
										</div>
                                </article>*@
                            </div>
                        </div>
                        @Html.Partial("_LoadingPartial")
                        <div id='divVocaSet'>
                            @Html.Partial("_VocaSetPartial", Model)
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- /container -->
<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
@*<script src='@Href("~/Scripts/assets/js/jquery.isotope.min.js")'></script>*@

@*@Scripts.Render("~/bundles/isotope")*@

