@model Nihongo.Models.MS_VocaSetsModels
@{
    ViewBag.Title = "Học từ vựng tiếng Nhật - " + Model.Name1;
    Layout = "~/Views/Shared/_MasterUserLessonLayout.cshtml";
}
<input type="hidden" id="ale" value='@Url.Action("hoc-tu-vung", "Library", new { id = @ViewBag.CategoryID, urlDisplay = @ViewBag.CategoryUrlDisplay })' />
<input type="hidden" id="av" value='@Url.Action("danh-muc", "Library", new { id = @ViewBag.CategoryID, urlDisplay = @ViewBag.CategoryUrlDisplay })' />
<input type="hidden" id="gtv" value='@CommonMethod.EncodeUrl("GetSessionVocas")' />
<input type="hidden" id="gpr" value='@CommonMethod.EncodeUrl("GetPracticeSessionVocas")' />
<input type="hidden" id="utr" value='@CommonMethod.EncodeUrl("UpdateSessionResult")' />
<input type="hidden" id="uft" value='@CommonMethod.EncodeUrl("UpdateFastTestVoca")' />
<input type="hidden" id="vsd" value="@Model.ID"/>
<input type="hidden" id="vsf" value="@Model.Fee"/>
<input type="hidden" id="accessDenied" value="@Ivs.Core.Common.CommonData.DbReturnCode.AccessDenied"/>

<div id="content" style="padding-left: 0px !important">
    <div class="notifications-wrapper">
        <div class="col-md-12 padding-0">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-md-12 padding-0">
                            <div class="col-md-12 padding-0">
                                <div class="badges-v1" style="width: 100%">
                                    <div class="col-md-4">
                                        <img src="~/images/voca/V000000001.jpg" />
                                    </div>
                                    <div class="col-md-8">
                                        <h4>Hiragana
                                        </h4>
                                        <p class="text-default">
                                            Roomaji
                                            <h4>Kanji
                                            </h4>
                                        <p class="text-default">Meaning</p>'
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript" src='@Href("~/Scripts/assets/js/jquery.isotope.min.js")'></script>*@
@*<script type="text/javascript" src='@Href("~/Scripts/jquery-timer-min.js")' async></script>*@
@*<script src='@Scripts.Url("~/bundles/session")' async> </script>*@
@*@Scripts.Render("~/bundles/isotope")*@
<script src='@Scripts.Url("~/bundles/dr")' async> </script>
<script src="~/Scripts/mine/learningsession.js"></script>
@Html.Partial("_TestModalPartial")
