@model Nihongo.Models.MS_VocaSetsModels
@{
    ViewBag.Title = "Học từ vựng tiếng Nhật - " + Model.Name1;
    Layout = "~/Views/Shared/_MasterUserLessonLayout.cshtml";
}
<input type="hidden" id="ale" value='@Url.Action("hoc-tu-vung", "Library", new { id = @ViewBag.CategoryID, urlDisplay = @ViewBag.CategoryUrlDisplay })' />
<input type="hidden" id="av" value='@Url.Action("danh-muc", "Library", new { id = @ViewBag.CategoryID, urlDisplay = @ViewBag.CategoryUrlDisplay })' />
<input type="hidden" id="gtv" value='@CommonMethod.EncodeUrl("GetSessionVocas")' />
<input type="hidden" id="gpr" value='@CommonMethod.EncodeUrl("GetPracticeSessionVocas")' />
<input type="hidden" id="utr" value='@CommonMethod.EncodeUrl("UpdateSessionResult")' />
<input type="hidden" id="uft" value='@CommonMethod.EncodeUrl("UpdateFastTestVoca")' />
<input type="hidden" id="vsd" value="@Model.ID"/>
<input type="hidden" id="vsf" value="@Model.Fee"/>
<input type="hidden" id="accessDenied" value="@Ivs.Core.Common.CommonData.DbReturnCode.AccessDenied"/>
<input type="hidden" id="lt" value="@ViewBag.LessonType"/>
<input type="hidden" id="ik" value="@ViewBag.IsKanji"/>
<div id="content" style="padding-left: 0px !important">
    <div class="notifications-wrapper">
        <div class="col-md-12 padding-0">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        @*<div class="col-md-12 padding-0">*@
                        <div class="progress progress-small lesson" style="margin-bottom: 0px !important;" id="progress">
                            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            </div>
                        </div>
                        @*</div>*@
                        <div class="col-md-12 padding-0">
                            <div class="col-md-12 padding-0">
                                <div class="result">
                                    <div class="col-md-12 padding-0">
                                        <button class="btn ripple btn-outline btn-primary" onclick="getTestVocas(); return false;">
                                            <div>
                                                <span><strong>TIẾP TỤC </strong><i class="fa fa-location-arrow"></i></span>
                                                <span class="ink animate"></span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-md-12 padding-0">
                                        <button class="btn ripple btn-outline btn-primary" onclick="getPracticeVocas(); return false;">
                                            <div>
                                                <span><strong>ÔN TẬP </strong><i class="fa fa-signal"></i></span>
                                                <span class="ink animate"></span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-md-12 padding-0">
                                        <button class="btn ripple btn-outline btn-primary" onclick="getNotebookVocas(); return false;">
                                            <div>
                                                <span><strong>ÔN SỔ TAY </strong><i class="fa fa-book"></i></span>
                                                <span class="ink animate"></span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <h3>
                                            <label>CÁC TỪ VỪA HỌC</label></h3>
                                        <table class="table table-condensed table-hover" id="tblLearntWord">
                                            <tr>
                                                <td>aaa</td>
                                                <td>
                                                    <button class=" btn btn-circle btn-mn btn-primary" style="width: 20px; height: 20px;"><span class="fa fa-heart"></span></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="badges-v1 lesson" style="width: 100%; height: 420px;" id="flashCard">
                                    <div class="col-md-12 padding-0">

                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                                            @*<img class="img-responsive hidden-xs" src="~/images/voca/ichi.jpg" alt="Từ vựng tiếng Nhật" style="height: 150px">
                                            <p class="hidden-xs">Một ngón tay</p>
                                            <br />
                                            <button class=" btn btn-circle btn-mn btn-info hidden-lg hidden-md" value="primary">
                                                <span class="fa fa-coffee"></span>
                                            </button>*@
                                            <p style="font-size: 70px;">一</p>
                                            <a href="#" data-toggle="modal" data-target="#kanjiImage"><i class="fa fa-television"></i>Ghi nhớ</a>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
                                            <h4><strong>NHẤT 
                                            </strong>
                                            </h4>
                                            <p><strong>Một</strong></p>
                                            <p>On: イチ。イッ。イツ</p>
                                            <p>Kun: ひと</p>
                                            <button class=" btn btn-circle btn-mn btn-primary" style="width: 15px; height: 15px;">
                                                <span class="fa fa-heart"></span>
                                            </button>
                                            <button class=" btn btn-circle btn-mn btn-primary" style="width: 15px; height: 15px;">
                                                <span class="fa fa-heart"></span>
                                            </button>
                                            <button class=" btn btn-circle btn-mn btn-primary" style="width: 15px; height: 15px;">
                                                <span class="fa fa-heart"></span>
                                            </button>
                                            <button class=" btn btn-circle btn-mn btn-primary" style="width: 15px; height: 15px;">
                                                <span class="fa fa-heart"></span>
                                            </button>
                                            <button class=" btn btn-circle btn-mn btn-primary" style="width: 15px; height: 15px;">
                                                <span class="fa fa-heart"></span>
                                            </button>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">

                                            <button onclick="draw();" class="btn btn-default"><span class="fa fa-edit"></span>Viết</button>
                                            <div class="btn-group pull-right" role="group">
                                                <button type="button" class="btn btn-circle btn-mn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="icon-list"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" onclick="mark();" class="mark" data-value="marked"><span class="fa fa-book"></span>Đã lưu</a></li>
                                                    <li><a href="#" onclick="mark();" class="mark" data-value="unmarked"><span class="fa fa-plus"></span>Lưu sổ tay</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12" id="draw"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 padding-0" style="width: 100%; height: 200px; overflow-y: auto; overflow-x: hidden;">
                                        <label>Ví dụ:</label>
                                        <table class="table table-condensed table-hover" id="tblLearntWord1">
                                            <thead>
                                                <tr>
                                                    <th>Từ</th>
                                                    <th>Hiragana</th>
                                                    <th>Hán Việt</th>
                                                    <th>Nghĩa</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="#" class="drawKanji">一</a></td>
                                                    <td>いち</td>
                                                    <td>Nhất</td>
                                                    <td>Một</td>
                                                </tr>
                                                <tr>
                                                    <td>一</td>
                                                    <td>いち</td>
                                                    <td>Nhất</td>
                                                    <td>Một</td>
                                                </tr>
                                                <tr>
                                                    <td>一</td>
                                                    <td>いち</td>
                                                    <td>Nhất</td>
                                                    <td>Một</td>
                                                </tr>
                                                <tr>
                                                    <td>一</td>
                                                    <td>いち</td>
                                                    <td>Nhất</td>
                                                    <td>Một</td>
                                                </tr>
                                                <tr>
                                                    <td>一</td>
                                                    <td>いち</td>
                                                    <td>Nhất</td>
                                                    <td>Một</td>
                                                </tr>
                                                <tr>
                                                    <td>一</td>
                                                    <td>いち</td>
                                                    <td>Nhất</td>
                                                    <td>Một</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="padding: 0px 0px;">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary navigator lesson" id="btnNext">
                                    Tiếp
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kanjiImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Hình ảnh minh họa</h4>
                </div>
                <div class="modal-body">
                    <div class="text-center kanjiImage">
                        <img class="img-responsive" src="~/images/voca/ichi.jpg" alt="Từ vựng tiếng Nhật" style="height: 150px">
                        <h4>Một ngón tay</h4>
                    </div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
            </div>
        </div>
    </div>
    @Html.Partial("_ModalPartial")
    <script src='@Scripts.Url("~/bundles/dr")' async> </script>
    <script src="~/Scripts/mine/learningsession.js"></script>
@Html.Partial("_TestModalPartial")

