@model List<Nihongo.Models.MS_UserVocaSet>
@if (Model != null && Model.Count > 0)
{
    bool hasRegis = Model.FirstOrDefault().HasRegis;
    if (hasRegis)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            var userVocaSet = Model[i];
       
    <div class="col-md-12">
        <div class="panel box-v4">
            <div class="panel-heading bg-white border-none">
                <div class="row">
                    <div class="col-md-10">
                        <h4><span class="icon-notebook icons"></span>@userVocaSet.VocaSetName</h4>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon-list"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Danh sách bài học", "bo-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay }, new { })
                                <li><a href="#">Học viên</a></li>
                            </ul>
                        </div>
                        @*<h5><span class="text-primary">Đã hoàn thành</span></h5>*@
                    </div>
                </div>
            </div>
            <div class="panel-body padding-0">
                <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">

                    <div class="col-md-12">
                        <div class="col-sm-3 text-center">
                            <img class="img-circle" src="@userVocaSet.VocaSetUrlImage" style="width: 100px; height: 100px;">
                        </div>
                        <div class="col-sm-9">
                            <p>@userVocaSet.VocaSetDescription</p>
                            @*<small>Someone famous</small>*@
                            <b><span class="icon-clock icons"></span> Cập nhật lúc @userVocaSet.UpdateDate</b>
                        </div>
                    </div>
                    @*<h2>Checking Your Server!</h2>*@
                    @*<p>Daily Check on Server status, mostly looking at servers with alerts/warnings</p>*@

                    <div class="col-md-12">
                        <div class="media magin-20">
                            <div class="media-body">
                                <h5 class="media-heading text-right">Đã học @userVocaSet.NumOfHasLearnt/@userVocaSet.NumOfVoca từ</h5>
                                <div class="progress progress-mini">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@userVocaSet.NumOfHasLearnt" aria-valuemin="0" aria-valuemax="@userVocaSet.NumOfVoca" style="width: @userVocaSet.PercentHasLearnt%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        @if (userVocaSet.NumOfHasLearnt == userVocaSet.NumOfVoca)
                        {
                            <a href="@Url.Action("hoc-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-primary require-login disabled"><i class="icon-login"></i> Tiếp tục</a>
                        }
                        else
                        {
                            <a href="@Url.Action("hoc-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-primary require-login"><i class="icon-login"></i> Tiếp tục</a>
                        }
                        @if (userVocaSet.NumOfWeak == 0)
                        {
                            <a href="@Url.Action("on-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-primary require-login disabled"><i class=" icon-compass"></i> Ôn tập</a>
                        }
                        else
                        {
                            var str = userVocaSet.NumOfWeak == 0 ? "" : "(" + userVocaSet.NumOfWeak + ")";
                            <a href="@Url.Action("on-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-primary require-login"><i class=" icon-compass"></i> Ôn tập @str</a>
                        }
                        @if (userVocaSet.NumOfHasMarked == 0)
                        {
                            <a href="@Url.Action("on-so-tay", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-primary require-login disabled"><i class=" icon-compass"></i> Ôn sổ tay</a>
                        }
                        else
                        {
                            var str = userVocaSet.NumOfHasMarked == 0 ? "" : "(" + userVocaSet.NumOfHasMarked + ")";
                            <a href="@Url.Action("on-so-tay", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-primary require-login"><i class=" icon-compass"></i> Ôn sổ tay @str</a>
                        }
                    </div>
                </div>

            </div>

        </div>

    </div>
        }
    }
    else
    {
    <div class="col-md-12 padding-0">
        <h4>Hãy chọn Bộ Từ Vựng mà bạn quan tâm</h4>
    </div>
        for (int i = 0; i < Model.Count; i++)
        {
            var userVocaSet = Model[i];
       
    <div class="col-md-12 padding-0">
        <div class="col-md-12">
            <div class="panel box-v1">
                <div class="panel-heading bg-white border-none">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                        <h4 class="text-left">@userVocaSet.VocaSetName</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <h4>
                            <span class="icon-user icons icon text-right"></span>
                        </h4>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <div class="col-md-12">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                            <img class="img-circle" src="@userVocaSet.VocaSetUrlImage" style="width: 100px; height: 100px;">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12 text-left">
                            <p>@userVocaSet.VocaSetDescription</p>
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h3>@userVocaSet.NumOfCategories</h3>
                        <p>bài học</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h3>@userVocaSet.NumOfRegistedPerson</h3>
                        <p>người học</p>
                    </div>
                    <hr />
                    <div class="col-md-12">
                        @Html.ActionLink("Học bộ này", "hoc-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay }, new { @class = "btn btn-outline btn-primary require-login" })
                        @Html.ActionLink("Danh sách bài học", "bo-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay }, new { @class = "btn btn-outline btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
    }
}

