@model List<Nihongo.Models.MS_UserVocaSet>
@if (Model != null && Model.Count > 0)
{
    bool hasRegis = Model.FirstOrDefault().HasRegis;
    if (hasRegis)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            var userVocaSet = Model[i];
       
        <div class="panel box-v4">
            <div class="panel-heading bg-white border-none">
                <div class="row">
                    <div class="col-md-10">
                        <h4><span class="icon-notebook icons"></span>@userVocaSet.VocaSetName</h4>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon-list"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Danh sách bài học", "danh-sach-bai-hoc", "Account", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay }, new { })
                                <li><a href="#">Học viên</a></li>
                                <li><a href="#">Xóa bài học</a></li>
                            </ul>
                        </div>
                        @*<h5><span class="text-primary">Đã hoàn thành</span></h5>*@
                    </div>
                </div>
            </div>
            <div class="panel-body padding-0">
                <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">

                    <div class="col-md-12">
                        <div class="col-sm-3 text-center">
                            <img class="img-circle" src="@userVocaSet.VocaSetUrlImage" style="width: 100px; height: 100px;">
                        </div>
                        <div class="col-sm-9">
                            <p>@userVocaSet.VocaSetDescription</p>
                            @*<small>Someone famous</small>*@
                            <b><span class="icon-clock icons"></span>Cập nhật lúc @userVocaSet.UpdateDate</b>
                        </div>
                    </div>
                    @*<h2>Checking Your Server!</h2>*@
                    @*<p>Daily Check on Server status, mostly looking at servers with alerts/warnings</p>*@

                    <div class="col-md-12">
                        <div class="media magin-20">
                            <div class="media-body">
                                <h5 class="media-heading text-right">Đã học @userVocaSet.NumOfHasLearnt/@userVocaSet.NumOfVoca từ</h5>
                                <div class="progress progress-mini">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@userVocaSet.NumOfHasLearnt" aria-valuemin="0" aria-valuemax="@userVocaSet.NumOfVoca" style="width: @userVocaSet.PercentHasLearnt%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        @if (userVocaSet.NumOfHasLearnt == userVocaSet.NumOfVoca)
                        {
                            <a href="@Url.Action("hoc-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-navigator btn-primary require-login disabled"><i class="icon-login"></i>Học từ mới</a>
                        }
                        else
                        {
                            <a href="@Url.Action("hoc-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-navigator btn-primary require-login"><i class="icon-login"></i>Học từ mới</a>
                        }
                        @if (userVocaSet.NumOfWeak < 4)
                        {
                            <a href="@Url.Action("on-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-navigator btn-primary require-login disabled"><i class=" icon-compass"></i>Ôn tập</a>
                        }
                        else
                        {
                            var str = userVocaSet.NumOfWeak == 0 ? "" : "(" + userVocaSet.NumOfWeak + ")";
                            <a href="@Url.Action("on-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-navigator btn-primary require-login"><i class=" icon-compass"></i>Ôn tập @str</a>
                        }

                    </div>
                    <div class="col-md-12 text-center">
                        @if (userVocaSet.NumOfHasMarked < 4)
                        {
                            <a href="@Url.Action("on-so-tay", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-navigator btn-primary require-login disabled"><i class="fa fa-book"></i>Ôn sổ tay</a>
                        }
                        else
                        {
                            var str = userVocaSet.NumOfHasMarked == 0 ? "" : "(" + userVocaSet.NumOfHasMarked + ")";
                            <a href="@Url.Action("on-so-tay", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay })" class="btn btn-outline btn-navigator btn-primary require-login"><i class="fa fa-tasks"></i>Ôn sổ tay @str</a>
                        }
                        <a href="#" class="btn btn-outline btn-navigator btn-primary require-login review-cate" data-value="@userVocaSet.VocaSetID"><i class=" icon-compass"></i>Ôn theo bài</a>
                    </div>
                </div>

            </div>

        </div>

        }
    }
    else
    {
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Hãy chọn Bộ từ vựng để học</h3>
                @*<p class="animated fadeInDown">
                    Form <span class="fa-angle-right fa"></span>Form Element
                       
                </p>*@
            </div>
        </div>
    </div>
@*<div class="col-md-12 padding-0">
        <h4>Hãy chọn Bộ Từ Vựng mà bạn quan tâm</h4>
    </div>*@
        for (int i = 0; i < Model.Count; i++)
        {
            var userVocaSet = Model[i];
       
    <div class="col-md-12 padding-0">
        <div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                    <h4 class="text-left">@userVocaSet.VocaSetName</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <h4>
                        <span class="icon-user icons icon text-right"></span>
                    </h4>
                </div>
            </div>
            <div class="panel-body text-center">
                <div class="col-md-12">
                    <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                        <img class="img-circle" src="@userVocaSet.VocaSetUrlImage" style="width: 100px; height: 100px;">
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 text-left">
                        <p>@userVocaSet.VocaSetDescription</p>
                    </div>
                </div>
               
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h3>@userVocaSet.NumOfCategories</h3>
                    <p>bài học</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h3>@userVocaSet.NumOfRegistedPerson</h3>
                    <p>người học</p>
                </div>
                <hr />
                <div class="col-md-12">
                    @Html.ActionLink("Học bộ này", "hoc-tu-vung", "Library", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay }, new { @class = "btn btn-outline btn-primary require-login" })
                    @Html.ActionLink("Danh sách bài học", "danh-sach-bai-hoc", "Account", new { @id = userVocaSet.VocaSetID, @urlDisplay = userVocaSet.VocaSetUrlDisplay }, new { @class = "btn btn-outline btn-primary" })
                </div>
            </div>
        </div>
    </div>
        }
    }
}

<div class="modal fade" id="modalCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Chọn bài để ôn</h4>
            </div>
            <div class="modal-body">
                <div id="choosingCates">
                    @Html.Partial("_CategoryPartial", new List<Nihongo.Models.MS_VocaCategoriesModels>())
                    <!-- /.row -->
                </div>
                @*<div class="form-animate-radio">
                    <label class="radio">
                        <input id="radio1" type="radio" name="radios">
                        <span class="outer">
                            <span class="inner"></span></span>RadioBox
                    </label>
                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnStartCate">Bắt đầu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var setId = 0;
    $(function () {
        $('.btn-group').hover(function () {
            $(this).addClass('open');
        },
        function () {
            $(this).stop().removeClass('open');
        });

        $('.review-cate').on('click', function (e) {
            e.preventDefault();
            var url = '/Account/' + '@CommonMethod.EncodeUrl("GetCategoryBySet")' + '/' + $(this).attr('data-value');
            $('#choosingCates').load(url);
            $('#modalCategory').modal();
        });

        $('#btnStartCate').on('click', function () {
            var cateID = $("input[name='radios']:checked").attr('data-value');
            if (typeof cateID === "undefined" || cateID == '') {
                alert('Không tìm thấy bài học!');
                return;
            }
            else {
                var url = '@Url.Action("on-bai-hoc", "Library", new { id = "_cateid_" })';
                window.location.href = url.replace('_cateid_', cateID);
            }
        });
    });
</script>

