@model IEnumerable<Nihongo.Models.MS_UsersModels>
@{
    ViewBag.Title = "Quản trị";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#modalAddUser').on('shown.bs.modal', function () {
            $('#UserName').focus();
            $('#UserName').val('');
            $('#Password').val('');
            $('#RePassword').val('');
            $('#DisplayName').val('');
            $('#CreateVoca').prop('checked', false);
        });

        $('#btnUpdateModal').on('click', function () {
            $.ajax({
                cache: false,
                type: "post",
                async: false,
                url: '@Href("~/Account/ProcessBatch")',
                dataType: "json",
                //                contentType: 'application/json',
                success: function (result) {
                    if (result.ReturnCode != 0) {
                        alert('Có lỗi khi update db');
                    }
                    else {
                        alert(result.Message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                    return false;
                }
            });
        });

        $('#aAddUser').on('click', function () {
            $('#error-message-add-user').html('');
            $('#UserName').val('');
            $('#DisplayName').val('');
            $('#Password').val('');
            $('#RePassword').val('');
            $('#CreateVoca').prop('checked', false);
            $('#UserName').focus();
        });

        $('#addForm').submit(function () {
            $('#error-message-add-user').html('');
            if ($('#UserName').val() == '') {
                $('#error-message-add-user').html("Nhập [Tên đăng nhập]");
                $('#UserName').focus();
                return false;
            }
            if ($('#Password').val() == '') {
                $('#error-message-add-user').html("Nhập [Mật khẩu]");
                $('#Password').focus();
                return false;
            }
            if ($('#Password').val().length < 6) {
                $('#error-message-add-user').html("[Mật khẩu] phải có độ dài ít nhất 6 kí tự");
                $('#Password').focus();
                return false;
            }
            if ($('#RePassword').val() == '') {
                $('#error-message-add-user').html("Nhập [Nhập lại mật khẩu]");
                $('#RePassword').focus();
                return false;
            }
            if ($('#RePassword').val() != $('#Password').val()) {
                $('#error-message-add-user').html("[Nhập lại mật khẩu] phải giống [Mật khẩu]");
                $('#RePassword').focus();
                return false;
            }

            $.ajax({
                cache: false,
                type: "post",
                async: false,
                url: '@Href("~/Account/Add")',
                data: { "UserName": $('#UserName').val(), "DisplayName": $('#DisplayName').val(), "Password": $('#Password').val(), "RePassword": $('#RePassword').val(), "CreateVoca": $('#CreateVoca').is(':checked') },
                dataType: "json",
                //                contentType: 'application/json',
                success: function (result) {
                    $('#error-message-add-user').html(result.Message);
                    if (result.ReturnCode == 0) {
                        $('#UserName').val('');
                        $('#DisplayName').val('');
                        $('#Password').val('');
                        $('#RePassword').val('');
                        $('#CreateVoca').prop('checked', false);
                        $('#UserName').focus();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                    return false;
                }
            });

            return false;
        });
    });

</script>
<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>
                    QUẢN TRỊ</h1>
            </div>
        </div>
    </div>
</header>
<br />
<section class="container-fluid">
    <div class="container container-pad" id="property-listings">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a href='#' data-toggle="modal" data-target="#modalAddUser" id="aAddUser" class="btn btn-navigator btn-lg require-login"
                        role="button">Thêm người dùng</a>
                    @Html.ActionLink("Tạo từ vựng", "CreateVocaCategory", "Account", null, new { @class= "btn btn-navigator btn-lg require-login"})
                    @*<a href='#' data-toggle="modal" data-target="#modalCreateVocaCategory" id="aCreateVocaCategory" class="btn btn-navigator btn-lg require-login"
                        role="button">Tạo bộ từ vựng</a> *@
                    <a href='#' data-toggle="modal" data-target="#modalRegisUserVoca" id="aRegisUserVoca" class="btn btn-navigator btn-lg require-login"
                        role="button">Đăng ký từ vựng</a>
                    <a href='#' data-toggle="modal" data-target="#modalUpdateData"
                            id="aUpdateData" class="btn btn-navigator btn-lg require-login" role="button">Xử
                            lí Batch</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    @Ajax.ActionLink("Thống kê", "UserState", "Account", new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divUserState" })
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="divUserState">
                                @Html.Partial("_UserStatePartial", Model)
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
                            <div id="morris-bar-chart">
                            </div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</section>
<!-- /#page-wrapper -->
<!-- Modal Choosing -->
<div class="modal fade bs-example-modal" id="modalAddUser" tabindex="-1" role="dialog"
    aria-labelledby="modalAddUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Thêm User</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Add", "Account", FormMethod.Post, new { @id = "addForm" }))
                {
                    <div id="error-message-add-user" class="text-danger">@ViewBag.ErrorMessage</div>
                    
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">
                            Tên đăng nhập:</label>
                        <input type="text" class="form-control" id="UserName" name="UserName" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">
                            Tên hiển thị:</label>
                        <input type="text" class="form-control" id="DisplayName" name="DisplayName" maxlength="100">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">
                            Mật khẩu:</label>
                        <input type="password" class="form-control" id="Password" name="Password" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">
                            Nhập lại mật khẩu:</label>
                        <input type="password" class="form-control" id="RePassword" name="RePassword" maxlength="30">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="CreateVoca" name="CreateVoca">
                            Tạo từ vựng
                        </label>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" id="btnAddUserModal" class="btn
btn-primary">
                            Lưu</button>
                        <button type="button" id="btnCloseUserModal" class="btn
btn-default" data-dismiss="modal">
                            Đóng</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal" id="modalCreateVocaCategory" tabindex="-1" role="dialog"
    aria-labelledby="modalCreateVocaCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Thêm Bộ Từ</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateVocaCategory", "Account", FormMethod.Post, new { @id = "createVocaCategory" }))
                {
                    <div id="error-message-create-vocacategory" class="text-danger">@ViewBag.ErrorMessage</div>
                    @*<div class="form-group">
                        <label class="control-label">
                            Bộ từ vựng:</label>
                        @Html.DropDownList("VocaCategoryID", ViewBag.VocaCategory as SelectList, new {@class="form-control" })
                    </div>
                    
                    *@<div class="form-group text-right">
                        <button type="submit" id="btnCreateVocaCategoryModal" class="btn
btn-primary">
                            Lưu</button>
                        <button type="button" id="btnCloseCreateVocaCategoryModal" class="btn
btn-default" data-dismiss="modal">
                            Đóng</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal" id="modalUpdateData" tabindex="-1" role="dialog"
    aria-labelledby="modalAddUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Cập Nhật Dữ Liệu</h4>
            </div>
            <div class="modal-body">
                Bạn có muốn cập nhật lại data không?</div>
            <div class="modal-footer">
                <button type="button" id="btnUpdateModal" class="btn
btn-primary">
                    OK</button>
                <button type="button" id="btnCloseUpdateModal" class="btn
btn-default" data-dismiss="modal">
                    Đóng</button>
            </div>
        </div>
    </div>
</div>
