@{
    ViewBag.Title = "Flashcard từ vựng tiếng Nhật - Cùng nhau học từ vựng tiếng Nhật bằng Flashcard";
}

<!-- Header -->
<header id="head">
    <div class="container">
        <div class="banner-content">
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>TỪ VỰNG TIẾNG NHẬT</h2>
                    <p>
                        Dễ dàng, thuận tiện, hiệu quả tức thì!!!
                    </p>
                    <div class="da-img">
                    </div>
                </div>
                <div class="da-slide">
                    <h2>FLASHCARD</h2>
                    <p>
                        Phương pháp học từ vựng tiếng Nhật phổ biến nhất!!!.
                    </p>
                    <div class="da-img">
                    </div>
                </div>
                <div class="da-slide">
                    <h2>KẾT QUẢ</h2>
                    <p>
                        Chúng tôi đã thành công, và bạn cũng sẽ thành công.
                    </p>
                    <div class="da-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /Header -->
<section class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <hr class="primary">
            <h2 class="section-heading text-action">VẤN ĐỀ CỦA BẠN</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-justify">
                        Bạn đã bao giờ học <strong>từ vựng tiếng Nhật</strong> và sau vài giờ chẳng còn
                        nhớ gì trong đầu chưa? Học từ vựng là <strong>điểm mấu chốt</strong> giúp bạn thành công trong khi
                        học <strong>tiếng Nhật</strong> hay luyện thi các chứng chỉ… <strong>Học trước quên sau</strong> – đây
                        là tình trạng chung của rất nhiều bạn khi học <strong>từ vựng tiếng Nhật</strong>.
                        Vậy phải làm thế nào để học 50-100 từ một ngày? Làm sao để có thể <strong>nhớ từ lâu và
                        sâu</strong>? Làm sao để não bộ của bạn hoạt động <strong>hiệu quả nhất</strong> có thể?
                    </p>
                </div>
                <div class="col-md-6">
                    <img src='@Href("~/images/hard.jpg")' alt="flashcard-tu-vung-tieng-nhat" class="img-responsive">
                </div>
            </div>
            <p class="text-justify">
                Bạn đã bao giờ cảm thấy rất phấn khởi, sảng khoái khi mới bắt đầu học <strong>tiếng
                    Nhật</strong> vì bản thân sắp trải nghiệm được một ngôn ngữ mới, trải nghiệm
                một nền văn hóa mới và có thể cải thiện năng suất cũng như chất lượng công việc
                của bạn trong tương lai. Nhưng chẳng bao lâu sau đó bạn cảm thấy chán nản và ngán
                ngẫm khi nghe đến <strong>tiếng Nhật</strong>, khi phải ngốn một lượng <strong>từ vựng tiếng Nhật</strong> khổng
                lồ với những kí tự tượng hình hoàn toàn mới lạ (<strong>Kanji</strong>). Và bạn chọn cách bỏ cuộc?
            </p>
            <p class="text-justify">
                <strong>Nguyên nhân cốt lõi</strong> khiến cho việc học từ vựng rất hay bị quên, hoặc không dùng
                đúng trước hết là do <strong>học từ vựng câm hay học một cách máy móc</strong>. Tức là chúng ta
                chỉ học bằng mắt: đọc tài liệu, gặp từ mới, tra từ điển và thậm chí tra phiên âm,
                ghi ghi, chép chép một cách cẩn thận và lẩm nhẩm đọc từ rồi tự cảm thấy hài lòng
                với bản thân vì "mình thật là chăm chỉ". Tất cả quá trình học đó diễn ra hoàn toàn
                <strong>câm lặng và thụ động</strong>.
            </p>
            <p class="text-justify">
                Nếu bạn cảm thấy những điều trên là đúng thì việc <strong>bạn ở đây chính là điều đúng đắn
                nhất</strong> mà bạn đã, đang và sẽ làm trong tương lai. Chúng tôi sẽ giúp bạn bằng một phương
                pháp học <strong>từ vựng tiếng Nhật</strong> nhanh nhất, hiệu quả nhất và phổ biến
                nhất hiện nay - <strong>FLASHCARD</strong>
            </p>
        </div>
        <div class="col-md-5 zoom-image">
            <h4 class="text-center">Quá trình suy giảm khả năng ghi nhớ của não bộ qua thời gian</h4>
            <img src='@Href("~/images/brain.png")' alt="flashcard-tu-vung-tieng-nhat" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-justify">
            <blockquote class="blockquote-1">
                <p>
                    Theo khoa học nghiên cứu, với một lượng kiến thức cần nhớ, thì sau 1 ngày tiếp thu,
                    người học chỉ còn nhớ 35.7% lượng kiến thức và sau 1 tháng, lượng kiến thức chỉ
                    còn khoảng 21% trong não bộ. Vì thế, <strong>việc ôn tập lại kiến thức đóng vai trò rất
                    quan trọng</strong> trong quá trình ghi nhớ.
                </p>
            </blockquote>
        </div>
    </div>
</section>
<section id="flashcards">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="primary">
                <h2 class="section-heading text-action">FLASHCARD TIẾNG NHẬT GIÚP</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-circle" src="~/Images/news3.jpg" height="100px" alt="flashcard-tu-vung-tieng-nhat" />
                    <h3>Thông minh & Hiệu quả</h3>
                    <p class="text-muted text-justify">
                        Flashcard hoạt động theo nguyên tắc <strong>1 hỏi - 1 trả lời</strong>. Bạn phải sục sạo trong trí nhớ của mình để tìm ra câu trả lời cho câu hỏi được đặt ra. Hoạt
                        động trí tuệ này giúp các bạn có thể <strong>cải thiện khả năng ghi nhớ từ vựng</strong> của mình lên tới
                        10 lần so với phương pháp học truyền thống.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-circle" src="~/Images/flashcard.jpg" height="100px" alt="flashcard-tu-vung-tieng-nhat" />
                    <h3>Tiện dụng & Tiết kiệm</h3>
                    <p class="text-muted text-justify">
                        Người học có thể sử dụng <strong>Flashcard</strong> mọi lúc mọi nơi. <strong>Flashcard</strong> là một phương pháp
                        tiên tiến giúp chúng ta có thể sử dụng khi chờ xe bus, nghỉ giải lao, ăn trưa hay
                        xem trước khi ngủ… để tiếp thu thêm cũng như ôn lại kiến thức lúc rảnh rỗi.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-circle" src="~/Images/flashcard1.jpg" height="100px" alt="flashcard-tu-vung-tieng-nhat" />
                    <h3>Học nhanh & Nhớ lâu</h3>
                    <p class="text-muted text-justify">
                        Với <strong>thiết kế nhỏ gọn, đơn giản nhưng đẹp mắt cùng hình ảnh minh họa</strong> sẽ giúp bạn
                        cảm thấy hứng thú hơn trong suốt quá trình sử dụng. Những kiến thức đưa lên <strong>Flashcard</strong>
                        đều được tinh giản lại một cách ngắn gọn, súc tích giúp bạn dễ dàng tập trung hơn
                        vào các ý chính.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-circle" src="~/Images/news1.jpg" height="100px" alt="flashcard-tu-vung-tieng-nhat" />
                    <h3>Phổ biến nhất</h3>
                    <p class="text-muted text-justify">
                        <strong>Flashcard</strong> là phương pháp thông dụng rất phổ biến trong giới sinh viên, học sinh.
                        Người học có thể sử dụng <strong>Flashcard</strong> trong nhiều ngành khác nhau như: văn hóa, lịch
                        sử, địa lý hay phổ biến nhất chính là học ngoại ngữ, tuy nhiên hơn 70% <strong>Flashcard</strong>
                        trên thế giới được dùng để học từ vựng tiếng nước ngoài như từ vựng tiếng Nhật, tiếng Anh...
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-circle" src="~/Images/flashcard2.jpg" height="100px" alt="flashcard-tu-vung-tieng-nhat" />
                    <h3>Phong phú & chất lượng</h3>
                    <p class="text-muted text-justify">
                        Nội dung của Flashcard được tổng hợp từ nhiều tài liệu uy tín và quen thuộc, đảm bảo sự hoàn chỉnh, được chăm chút kỹ lưỡng đến từng chi tiết. Nội
                        dung được cập nhật liên tục nhằm mang đến chất lượng cao nhất. Các bài <strong>LUYỆN
                            TẬP & KIỂM TRA</strong> phong phú giúp bạn không cảm thấy nhàm chán khi học.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-circle" src="~/Images/about.jpg" height="100px" alt="flashcard-tu-vung-tieng-nhat" />
                    <h3>Vượt qua khó khăn & Các kì thi</h3>
                    <p class="text-muted text-justify">
                        Với lượng kiến thức ngày càng nhiều mà thời gian học tập lại vô cùng hạn hẹp, những
                        kỳ thi khó khăn vì lượng từ vựng khổng lồ mà bạn phải học thuộc. <strong>Flashcard</strong> sẽ giúp
                        bạn nắm vững từ vựng, tận dụng triệt để nhằm tiếp thu và ôn tập kiến thức một cách
                        hiệu quả trong thời gian ngắn và vượt qua các kì thi N5, N4, N3... dễ dàng hơn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="primary">
                    <h2 class="section-heading text-action">CHÚNG TÔI CÓ</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Bảng chữ cái</h4>
                            <p class="text-muted">
                                Hệ thống bảng chữ cái tiếng Nhật <strong>Hiragana, Katakana</strong> được thiết kế đơn giản, dễ hiểu
                                với hình ảnh minh họa, hướng dẫn chi tiết cách viết, các game bổ trợ nhằm giúp người
                                học dễ dàng ghi nhớ
                            </p>
                        </div>
                        @Html.ActionLink("Tìm hiểu", "Index", "Alphabet", new { }, new { @class = "pull-right" })
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Luyện viết</h4>
                            <p class="text-muted">
                                Với <strong>Bảng thông minh</strong> giúp người học tra cứu, nắm bắt một cách chi tiết
                                làm thế nào để viết một chữ cái hay từ vựng tiếng Nhật và có thể luyện viết từ vựng
                                hay chữ cái đó ngay lập tức.
                            </p>
                        </div>
                        @Html.ActionLink("Tìm hiểu", "Drawing", "Library", new { }, new { @class = "pull-right" })
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Thư viện từ vựng</h4>
                            <p class="text-muted">
                                Bao gồm các bộ từ vựng với <strong>hàng ngàn từ vựng tiếng Nhật</strong>,
                                theo giáo trình từ sơ cấp đến nâng cao được biên soạn và giảng dạy trong các trường đại học cũng
                                như các trung tâm tiếng Nhật.
                            </p>
                        </div>
                        @Html.ActionLink("Tìm hiểu", "danh-sach", "Library", new { }, new { @class = "pull-right" })
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-star-half-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Online Flashcard</h4>
                            <p class="text-muted">
                                Sử dụng <strong>Online Flashcard</strong> và rèn luyện trí nhớ thông qua các bài luyện
                                tập, kiểm tra...phong phú và đa dạng sẽ giúp người học nhớ <strong>NHANH</strong>
                                và <strong>LÂU</strong> cũng như có thể đánh giá được <strong>HIỆU QUẢ</strong>
                                trong học tập.
                            </p>
                        </div>
                        @Html.ActionLink("Tìm hiểu", "danh-sach", "Library", new { }, new { @class = "pull-right" })
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-star-half-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Theo dõi</h4>
                            <p class="text-muted">
                                Hệ thống sẽ <strong>theo dõi</strong> quá trình học từ vựng tiếng Nhật, <strong>nhắc nhở</strong> người học để <strong>củng cố</strong> kiến thức,
                                ôn luyện từ yếu nhằm đảm bảo kiến thức từ vựng sẽ <strong>không bị quên dần</strong> theo
                                thời gian.
                            </p>
                        </div>
                        <a href="#" class="pull-right">Tìm hiểu</a>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInUp animated">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-h-square"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Điểm thưởng & Điểm tích lũy</h4>
                            <p class="text-muted">
                                Hệ thống <strong>điểm thưởng</strong> và <strong>điểm tích lũy</strong> đồng hành cùng người học. Người học có thể sử dụng điểm này để đăng ký
                                các bộ từ vựng khác mà <strong>không phải bỏ ra bất kì chi phí</strong> nào khác.
                            </p>
                        </div>
                        <a href="#" class="pull-right">Tìm hiểu</a>
                    </div>
                </div>
                <!--/.col-md-4-->
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section id="business-stats">
    <div class="container">
        @*<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="primary">
                    <h2 class="section-heading text-action">
                        CHÚNG TÔI CÓ GÌ</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>*@
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="0ms"
                    style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                    <div class="business-stats" data-digit="6850" data-duration="1000">
                        6850
                    </div>
                    <strong>Thành viên</strong>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="100ms"
                    style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 100ms; -webkit-animation-delay: 100ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                    <div class="business-stats" data-digit="1465" data-duration="1000">
                        67
                    </div>
                    <strong>Bộ từ vựng</strong>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="200ms"
                    style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 200ms; -webkit-animation-delay: 200ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                    <div class="business-stats" data-digit="4325" data-duration="1000">
                        8798
                    </div>
                    <strong>Từ vựng</strong>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="300ms"
                    style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                    <div class="business-stats" data-digit="2568" data-duration="1000">
                        5673
                    </div>
                    <strong>Người đăng ký học</strong>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <hr class="primary">
            <h2 class="section-heading text-action">MỌI NGƯỜI NÓI GÌ</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" id="myCarousel" style="border-color: #eee;">
                <div class="carousel-inner carousel-inner-slide">
                    <div class="item active">
                        <ul class="thumbnails">
                            <li class="col-md-3 text-center">
                                <img class="img-circle" height="50px" src="~/images/avatars/chkien.jpg" alt="flashcard-tu-vung-tieng-nhat"></a>
                                <div class="caption text-center">
                                    <h4>Chu Hồng Kiên</h4>
                                    <blockquote>
                                        <p class="text-justify">
                                            <small>Từ khi mình học từ vựng ở đây, vốn từ vựng của mình đã trở nên vô cùng phong
                                                phú, và cũng mất khá ít thời gian</small>
                                        </p>
                                    </blockquote>
                                </div>
                            </li>
                            @*<li class="col-md-3 text-center">
                                <img class="img-circle" height="50px" src="~/images/chkien.jpg" alt="flashcard-tu-vung-tieng-nhat"></a>
                                <div class="caption text-center">
                                    <h4>
                                        Chu Hồng Kiên</h4>
                                    <blockquote>
                                        <p class="text-justify">
                                            <small>Từ khi mình học từ vựng ở đây, vốn từ vựng của mình đã trở nên vô cùng phong
                                                phú, và cũng mất khá ít thời gian</small></p>
                                    </blockquote>
                                </div>
                            </li>
                            <li class="col-md-3 text-center">
                                <img class="img-circle" height="50px" src="~/images/chkien.jpg" alt="flashcard-tu-vung-tieng-nhat"></a>
                                <div class="caption text-center">
                                    <h4>
                                        Chu Hồng Kiên</h4>
                                    <blockquote>
                                        <p class="text-justify">
                                            <small>Từ khi mình học từ vựng ở đây, vốn từ vựng của mình đã trở nên vô cùng phong
                                                phú, và cũng mất khá ít thời gian</small></p>
                                    </blockquote>
                                </div>
                            </li>
                            <li class="col-md-3 text-center">
                                <img class="img-circle" height="50px" src="~/images/chkien.jpg" alt="flashcard-tu-vung-tieng-nhat"></a>
                                <div class="caption text-center">
                                    <h4>
                                        Chu Hồng Kiên</h4>
                                    <blockquote>
                                        <p class="text-justify">
                                            <small>Từ khi mình học từ vựng ở đây, vốn từ vựng của mình đã trở nên vô cùng phong
                                                phú, và cũng mất khá ít thời gian</small></p>
                                    </blockquote>
                                </div>
                            </li>*@
                        </ul>
                    </div>
                    <!-- /Slide1 -->
                    <div class="item">
                        <ul class="thumbnails">
                            @*<li class="col-md-3 text-center">
                                <img class="img-circle" height="50px" src="~/images/chkien.jpg" alt="flashcard-tu-vung-tieng-nhat"></a>
                                <div class="caption text-center">
                                    <h4>
                                        Chu Hồng Kiên</h4>
                                    <blockquote>
                                        <p class="text-justify">
                                            <small>Từ khi mình học từ vựng ở đây, vốn từ vựng của mình đã trở nên vô cùng phong
                                                phú, và cũng mất khá ít thời gian</small></p>
                                    </blockquote>
                                </div>
                            </li>
                            <li class="col-md-3 text-center">
                                <img class="img-circle" height="50px" src="~/images/chkien.jpg" alt="flashcard-tu-vung-tieng-nhat"></a>
                                <div class="caption text-center">
                                    <h4>
                                        Chu Hồng Kiên</h4>
                                    <blockquote>
                                        <p class="text-justify">
                                            <small>Từ khi mình học từ vựng ở đây, vốn từ vựng của mình đã trở nên vô cùng phong
                                                phú, và cũng mất khá ít thời gian</small></p>
                                    </blockquote>
                                </div>
                            </li>
                            <li class="col-md-3 text-center">
                                <img class="img-circle" height="50px" src="~/images/chkien.jpg" alt="flashcard-tu-vung-tieng-nhat"></a>
                                <div class="caption text-center">
                                    <h4>
                                        Chu Hồng Kiên</h4>
                                    <blockquote>
                                        <p class="text-justify">
                                            <small>Từ khi mình học từ vựng ở đây, vốn từ vựng của mình đã trở nên vô cùng phong
                                                phú, và cũng mất khá ít thời gian</small></p>
                                    </blockquote>
                                </div>
                            </li>
                            <li class="col-md-3 text-center">
                                <img class="img-circle" height="50px" src="~/images/chkien.jpg" alt="flashcard-tu-vung-tieng-nhat"></a>
                                <div class="caption text-center">
                                    <h4>
                                        Chu Hồng Kiên</h4>
                                    <blockquote>
                                        <p class="text-justify">
                                            <small>Từ khi mình học từ vựng ở đây, vốn từ vựng của mình đã trở nên vô cùng phong
                                                phú, và cũng mất khá ít thời gian</small></p>
                                    </blockquote>
                                </div>
                            </li>*@
                        </ul>
                    </div>
                    <!-- /Slide2 -->
                </div>
                <div class="control-box-slide">
                    <a data-slide="prev" href="#myCarousel" class="carousel-control-slide left">‹</a>
                    <a data-slide="next" href="#myCarousel" class="carousel-control-slide right">›</a>
                </div>
                <!-- /.control-box -->
            </div>
            <!-- /#myCarousel -->
        </div>
        <!-- /.span12 -->
    </div>
    <!-- /.row -->
</section>
