<footer id="footer">
    <div class="container">
        <div class="social text-center">
            <a href="https://www.facebook.com/chkien" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/chkien" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.facebook.com/chkien" target="_blank"><i class="fa fa-dribbble"></i></a>
            <a href="https://www.facebook.com/chkien" target="_blank"><i class="fa fa-flickr"></i></a>
            <a href="https://www.facebook.com/chkien" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
        </div>
        <div class="clear">
        </div>
        <!--CLEAR FLOATS-->
    </div>
    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            @Html.ActionLink("Trang chủ", "Index", "Home")
                            | @Html.ActionLink("Bảng chữ cái", "Index", "Alphabet")
                            | @Html.ActionLink("Luyện viết", "Drawing", "Library")
                            | @Html.ActionLink("Thư viện", "danh-sach", "Library")
                            @*| @Html.ActionLink("Thành tích", "Index", "Achievement")*@
                            @*| <a href='@Href("~/Home/Support/")'>Trợ giúp</a> *@

                            @*| <a href='@Href("~/Home/Contact/")'>Liên hệ</a>*@
                        </p>
                    </div>
                </div>
                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="text-right">
                            Copyright &copy; 2015. Designed by<a href="mailto:chkien0911@gmail.com" rel="develop">Chu Hồng Kiên</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /row of panels -->
        </div>
    </div>
</footer>
